# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db-wal
*.opendb
*.db-shm
*.db
*.log
*.recipe
Builds/Intermediate/x64/Debug/sr.vcxproj.FileListAbsolute.txt
*.ipch
Projects/.vs/sr/v16/.suo
*.tlog
*.pdb
*.idb
*.ilk
